
Pandas/day1_220118/data/门店信息表.XLSX
Pandas/day1_220118/data/billboard.csv
Pandas/day1_220118/data/applestore.csv
Pandas/day1_220118/data/banklist.csv
Pandas/day1_220118/data/china.tsv
Pandas/day1_220118/data/city_day.csv
Pandas/day1_220118/data/college.csv
Pandas/day1_220118/data/concat_1.csv
Pandas/day1_220118/data/concat_2.csv
Pandas/day1_220118/data/concat_3.csv
Pandas/day1_220118/data/country_timeseries.csv
Pandas/day1_220118/data/crime.csv
Pandas/day1_220118/data/data_analysis_job.csv
Pandas/day1_220118/data/departments.csv
Pandas/day1_220118/data/employee.csv
Pandas/day1_220118/data/employees.csv
Pandas/day1_220118/data/fifa.csv
Pandas/day1_220118/data/gapminder.tsv
Pandas/day1_220118/data/gender_submission.csv
Pandas/day1_220118/data/LJdata.csv
Pandas/day1_220118/data/movie.csv
Pandas/day1_220118/data/nobel_prizes.csv
Pandas/day1_220118/data/online_retail_II.xlsx
Pandas/day1_220118/data/pew.csv
Pandas/day1_220118/data/retail_user_data.csv
Pandas/day1_220118/data/sale_rfm_score.xlsx
Pandas/day1_220118/data/sales.xlsx
Pandas/day1_220118/data/sales_rfm_score.xlsx
Pandas/day1_220118/data/scientists.csv
Pandas/day1_220118/data/scientists_df.tsv
Pandas/day1_220118/data/scientists_df.xlsx
Pandas/day1_220118/data/scientists_duplicates.csv
Pandas/day1_220118/data/state_fruit.csv
Pandas/day1_220118/data/state_fruit2.csv
Pandas/day1_220118/data/stocks_2016.csv
Pandas/day1_220118/data/stocks_2017.csv
Pandas/day1_220118/data/stocks_2018.csv
Pandas/day1_220118/data/students.csv
Pandas/day1_220118/data/survey_person.csv
Pandas/day1_220118/data/survey_site.csv
Pandas/day1_220118/data/survey_survey.csv
Pandas/day1_220118/data/survey_visited.csv
Pandas/day1_220118/data/tb_movie.csv
Pandas/day1_220118/data/tb_review.csv
Pandas/day1_220118/data/tesla_stock_yahoo.csv
Pandas/day1_220118/data/test.csv
Pandas/day1_220118/data/tips.csv
Pandas/day1_220118/data/titanic.csv
Pandas/day1_220118/data/titanic_test.csv
Pandas/day1_220118/data/titanic_train.csv
Pandas/day1_220118/data/train.csv
Pandas/day1_220118/data/TSLA.csv
Pandas/day1_220118/data/uniqlo.csv
Pandas/day1_220118/data/weight_loss.csv
Pandas/day1_220118/data/wiki_movie_plots_deduped.csv
Pandas/day1_220118/data/winemag-data_first150k.csv
Pandas/day1_220118/data/work1.csv
Pandas/day1_220118/data/work2.csv
Pandas/day1_220118/data/会员信息查询.xlsx
Pandas/day1_220118/data/会员消费报表.xlsx
Pandas/day1_220118/data/全国销售订单数量表.xlsx
